{% extends 'monitor/base.html' %}




{% block body %}
{% if all_sensors %}
    <h1>Sensor list:</h1>

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-4">


{% load staticfiles %}
<script src="{% static 'js/justgauge/raphael-2.1.4.min.js' %}"></script>
<script src="{% static 'js/justgauge/justgage.js' %}"></script>

{% for sensor in all_sensors %}

    <div class="container-fluid ">
    <div id="g{{ sensor.id}}" class="col-xs-6 col-md-4">
    </div>
  </div>
<script>
    var g{{ sensor.id}};
    document.addEventListener("DOMContentLoaded", function(event) {
        g1 = new JustGage({
            id: "g{{ sensor.id}}",
            title: "{{ sensor.name }}",
            value: {{ sensor.values_set.latest.temperature }},
            decimals: 2,
            symbol: '˚',
            min: 0,
            max: 50,
            donut: true,
            gaugeWidthScale: 0.6,
            counter: true,
            hideInnerShadow: true
        });

        document.getElementById('g1_refresh').addEventListener('click', function() {
            g1.refresh(getRandomInt(0, 100));
        });
    });
    </script>
    {% endfor %}

        </div>
    </div>
</div>
<!--
    <ul>
        {% for sensor in all_sensors %}
        <li><a href="/monitor/{{ sensor.id}}"> {{ sensor.name }} -  {{ sensor.id }} -  {{ sensor.values_set.latest.temperature }}
        </a> </li>
        {% endfor %}

    </ul>
-->
{% else %}
    <h3>No Sensors detected</h3>
{% endif %}

{% endblock %}